body {
  background-color: #f7f2f8;
}


                                    /*  boy/girl carousel */

#boy-girl .container h3{
  font-family: "Flavors", cursive;
    font-size: 40px;
    color: #2c6975;
}
#boy-girl .container h4{
    font-family: "Flavors", cursive;
    color: #2c6975;
}
#boy-girl .container .brdr{
  color: #ec3e81;
}
.img-area img {
  width: 100%;
  border-radius: 50%;
}
.product-card {
  background-color: #f7f2f8;
  padding: 10%;
  text-align: center;
  border-radius: 50px 0;
}
.product-card h4 {
  text-transform: uppercase;
  margin: 20px 0px 5px;
  color: #3a8892;
  font-size: 18px;
}
.product-card h5 {
  font-size: 15px;
  font-weight: 400;
}
.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #ddd !important;
  opacity: 0.8;
  margin: 50px 3px 5px;
}
.owl-dot.active {
  background-color: #fff !important;
}
.owl-theme .owl-dots .owl-dot span {
  display: none !important;
}



                                    /* kids-age section */
  .kids-age h2 {
    font-family: "Flavors", cursive;
    font-weight: 500;
    font-size: 50px;
    color: #2c6975;
}
.kids-age .container .kidsAge-img {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.kids-age .container .age-layer {
    position: absolute;
    left: 0;
    top: 0;
    inset: 0;
    background-color: rgba(20, 9, 9, 0.4);
    opacity: 0;
    transition: all 0.5s;
}
.kids-age .container .kidsAge-img:hover .age-layer {
    opacity: 1;
}
.kids-age .container .kidsAge-img:hover img {
    transform: scale(1.1);
}
.kids-age .container .kidsAge-img:hover .age-layer i {
    cursor: pointer;
}
.kids-age .container  .age-layer i {
    color: #fff;
}
.kids-age .container  .age-layer i:hover {
    color: rgb(230, 16, 16);
}
.kids-age img{
    transition: all 0.6s;
}
.kids-age .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    color:#ec3e81;
    border-bottom: #ec3e81 2px solid;
}
.kids-age .nav-item button:hover{
    color:#ec3e81;
}